<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798874766359-hmivhvaaf6vfjjn8n0cojkrgb42529dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798874766359-hmivhvaaf6vfjjn8n0cojkrgb42529dv</string>
	<key>API_KEY</key>
	<string>AIzaSyC0pmNULX1lhd3-y2alzG2LMUpXF6_xyhk</string>
	<key>GCM_SENDER_ID</key>
	<string>798874766359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BePositive</string>
	<key>PROJECT_ID</key>
	<string>bepluss-388b4</string>
	<key>STORAGE_BUCKET</key>
	<string>bepluss-388b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798874766359:ios:30f77fbf790ad84a402052</string>
</dict>
</plist>